:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 20%;
  min-height: 100%;
  /* background-color: black; */
}
header{
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-image: url("/images/space.png");
  background-position: 100% 100%;
  margin: 5%;
  
}
.profile-pic>ul{
  display: flex;
  flex-direction: column;
  padding: 5%;
  list-style: none;
}
header>ul{
  display: flex;
  justify-content: auto;
  align-content: center;
}
.react-background{
  background-position: top;
  height: 20%
 
}
.react-text{
  background-color: #ffffff;
  
}
.buzz {
  background-image: url("/images/code.png");
  background-position: center center;
}
